{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>QR Code Scanner Example</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <style>
        body
        {
          background-color: #343a40;
        }
        .outer-div
        {
          padding: 1%;
          margin : 15%;
          margin-top:5%;
          background-color: #f3f3f3;
          text-align:center;
          border-radius: 20px;
        }
        .inner-div
        {
          margin: auto;
          width: 90%;
          height: 70%;
          border-radius: 20px;

        }
    </style>

  </head>

  <body class="cont">
  <div class="login-form">
    <div class="outer-div">
    <h1>Scann you QR Code</h1>



              <div class="row">
          <div class="col-md-6 select-outline">

            <select class="mdb-select md-form colorful-select dropdown-primary"  id="webcameraChanger" onchange="cameraChange($(this).val());" >

            </select>
            <label>Choose your camera</label>

          </div>
        </div>


            <!-- webcamera view component -->
          <div class="inner-div"><br> <video id="webcameraPreview" playsinline autoplay style="width: 80%;height:70%;"></video></div>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/qr/adapter.min.js"></script>
    <script type="text/javascript" src="static/qr/instascan.js"></script>
    <script type="text/javascript" src="static/qr/QrCodeScanner.js"></script>
    <script type="text/javascript">
        //HTML video component for web camera
        var videoComponent = $("#webcameraPreview");
        //HTML select component for cameras change
        var webcameraChanger = $("#webcameraChanger");
        var options = {};
        //init options for scanner
        options = initVideoObjectOptions("webcameraPreview");
        var cameraId = 0;

        initScanner(options);

        initAvaliableCameras(
            webcameraChanger,
            function () {
                cameraId = parseInt(getSelectedCamera(webcameraChanger));
            }
        );

        initCamera(cameraId);


        scanStart(function (data){
            var link = data.replace('?','');
      var clean = link.replace('http://127.0.0.1:8000','https://survbetter.herokuapp.com');
      $(location).attr('href',clean);
        });

    </script>
    </div>
    </div>
  </body>
</html>